:root {
    --main-color: #3E4543;
    --accent-color: #443F44;
    --light-grad: #666B67;
    --dark-grad: #273635;
    font-size: 20px;
}

body, 
html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100%;
}

/* Typography */

body,
html {
    font-family: "Poppins", sans-serif;
    color: white;
}
h1 {
    font-size: 1.5rem;
}

h2 {
    margin: 0;
}

.home-tagline {
    text-align: center;
    font-size: 1.3rem;
}

.menu-item {
    list-style-type: none;
    text-align: center;
}

.link {
    text-decoration: none;
    color: white;
    margin: 0;
}

.logo-text {
    font-family: 'Pacifico', cursive;
    font-size: 2.3em;
}


/* Layout */

.home-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}


.home-tagline {
    padding: 0 3rem;
    margin-top: 3rem;
}
.logo-bg {
    width: 300px;
}
.logo-text {
    align-self: flex-start;
    margin: -.5em 0 -.7em .8em;

}

.logo-text-last {
    align-self: flex-end;
    margin: 0 .8em 
}

.logo-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container {
    width: 250px;
    margin-left: -.9em;
    margin-top: .4em;
}
.nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    position: absolute;
    align-items: center;
    justify-content: center;
    bottom: 0;
    margin: 0;
    padding: 1em;
    box-sizing: border-box;
}

.menu-item {
    height: 50px;
    margin: 0;
    padding: .3em 1em 0 1em;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-page {
    display: none;
}

.full-page * {
    display: none;
}

.nav-item-bigger {
    flex: 4;
}

/* full page layout */

@media (min-width: 750px) {
    .home-page-wrapper {
        justify-content: flex-start;
    }
    .nav {
        position: relative;
        justify-content: space-between;
        align-items: center;
    }

    .full-page {
        display: inherit;
    }

    .full-page * {
        display: inherit;
    }

    .title {
        display: flex;
        justify-content: flex-start;
    }

    .icons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .icon {
        margin-left: 2em;
        padding-bottom: .3em;
    }

    .content {
        margin-top: 5%;
        height: 70%;
        width: 80%;
        max-width: 1200px;
        max-height: 650px;
    }

    .content > * {
        flex: 1;
    }

    .info-card {
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        padding: 1.5em;
        margin-left: 4em;
    }

    .home-tagline {
        margin-top: 0;
    }

    .info-header {
        align-self: flex-start;
    }

    .info-image {
        width: 100%;
        height: 50%;
        object-fit: cover;
        margin-bottom: 1em;
    }

}


/* Other */

.home-page-wrapper {
    background: url(./images/splash_background.JPG);
    background-color:rgba(0, 0, 0, .4);
    background-position: top left;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-tagline {
    position: relative;
}


.home-tagline::before,
.home-tagline::after {
    content: "";
    height: 4px;
    width: 2rem;
    background:rgba(255, 255, 255, .8);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.link__highlight {
    background: var(--light-grad);
    padding: .2em 1em;
}

.home-tagline::before {
    
    left: 15px;
}

.home-tagline::after {
    right: 15px;
}

.nav {
    background: var(--main-color);
}

.menu-item {
    border-right: 2px solid rgba(255, 255, 255, .4);
}

.logo-bg {
    background: black;
    border-radius: 50%;
    width: 340px;
    height: 340px;
}

.info-card {
    background-color: var(--main-color);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(255, 255, 255, .8);
}

.active,
.link:hover {
    box-shadow: 0 5px 0 white;
}

/* Utils */

.remove-border {
    border: none;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}


