:root {
    --main-color: #3E4543;
    --accent-color: #443F44;
    --light-grad: #666B67;
    --dark-grad: #273635;
    font-size: 20px;
}

body, 
html,
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    min-height: 100vh;
}

/* Typography */

body,
html {
    font-family: "Poppins", sans-serif;
    color: white;
}
h1 {
    font-size: 1.5rem;
}

h2 {
    margin: 0;
}

button {
    font-family: "Poppins", sans-serif;
    color: white;
}

.home-tagline {
    text-align: center;
    font-size: 1.3rem;
}

.menu-item {
    list-style-type: none;
    text-align: center;
}

.link {
    text-decoration: none;
    color: white;
    margin: 0;
    display: inline;
}

.item-name {
    font-size: .8rem;
    font-weight: 500;
}

.item-cost {
    font-size: .8rem;
}

.item-info-text {
 font-size: .7rem;   

}

.cart-delete-dialogue {
    font-size: .8rem;
    text-align: center;
}

.cart-header {
    font-size: 1.1rem;
    font-weight: normal;
}

@media (min-width: 750px) {
    .item-name {
        font-size: 1.5em;
    }

    .item-cost,
    .item-info-text,
    .item button {
        font-size: 1em;
    }
}




/* Layout */

.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: calc(100% - 75px - 2em);
    width: 100vw;
    box-sizing: border-box;
}

.tagline-logo-box {
    justify-content: space-around;
}

.home-tagline {
    padding: 0 3rem;
    margin-top: 3rem;
}

.logo {
    width: 60%;
}

.nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    bottom: 0;
    margin: 0;
    padding: 1em 1em 0 1em;
    box-sizing: border-box;
    height: calc(50px + 2em);
    overflow: hidden;
    z-index: 1;
    transition: height .2s ease-in;
}


.nav-open {
    height: 180px;
}

.nav-expander {
    width: 25px;
    height: 25px;
    border-left: 3px solid white;
    border-top: 3px solid white;
    position: fixed;
    bottom: calc(50px + 1.3em);
    left: 50%;
    transform: rotate(45deg) translateX(-50%) ;
    z-index: 2;

    transition: transform .2s ease-in, bottom .2s ease-in;

}

.nav-expander-open {
    transform: rotate(225deg);
    bottom: 190px;
}

.menu-item {
    height: 50px;
    margin: 0;
    margin-bottom: 1.3em;
    padding: .3em 1em .3em 1em;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item__highlight {
    padding: 0;
}

.link__highlight {
    padding: .2em 1em;
}

.full-page,
.full-page * {
    display: none;
}


.nav-item-bigger {
    flex: 4;
}


.icon {
    margin-left: 2em;
    padding-bottom: .3em;
}

/* Beans & Gear Page Layout*/


.page-wrapper-coffee .content {
    max-height: calc(100vh - 50px - 2em);
    width: 100vw;
    padding: .5em;
    display: grid;
    grid-template-rows: 50% 50%;
}

.category-frame {
    width: 100%;
    margin-bottom: .5em;
    position: relative;
    overflow: hidden;
}

.category {
    display: flex;
    flex-direction: row;
}

.scroll {
    height: 85%;
    padding: .5em;
    overflow-x: auto;
}



.item {
    min-width: 270px;
    background: var(--main-color);
    padding: .6em;
    display: grid;
    margin: 0 1em 0 0;
    display: grid;
    grid-template-rows: 50% 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    gap: .3em 1em;
    height: 100%;
}

.item-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    grid-column: 1 / 5;
    grid-row: 1 / 3;
}

.item-name {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    align-self: center;
}

.item-cost {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    justify-self: end;
    align-self: center;
}

.item-info {
    grid-column: 1 / 5;
    grid-row: 1 / 3;
    overflow: hidden;
    height: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: flex-end;
}

.item-info-background {
    transform: translateY(100%);
    transition: transform .2s ease-in;
    height: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: flex-end;
}

.item-info-background-open {
    transform: translateY(0);
}

.item-info-text {
    padding: .5em;
}

.item-more-info {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}

.item-add-to-cart {
    grid-column: 3 / 5;
    grid-row: 4 / 5;
}

/* Cart Layout */
.page-wrapper-cart {
    overflow-y: auto;
    padding: .7em;
}
.page-wrapper-cart .content {
    margin-top: 40px;
    padding-top: .5em;
    max-height: calc(100vh - 143px);
    min-height: calc(100vh - 143px);
    overflow-y: auto;
    box-sizing: border-box;
}

.cart-submit {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    top: 0;
    left: 0;
    width: 100vw;
    padding: .5em;
}

.cart-submit button {
    border: 0;
    background: var(--light-grad);
    padding: .5em 1em;
}

#cart-total {
    max-width: 100px;
    min-width: 100px;
}

.cart-item {
    min-height: 120px;
    display: grid;
    grid-template-rows: minmax(auto, 50%) minmax(auto, 50%) ;
    grid-template-columns: 34%  auto auto;
    padding: .5em;
    column-gap: .5em;
    position: relative;
}

.cart-delete {
    position: absolute;
    top: .7em;
    left: .7em;
}

.cart-delete-dialogue {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
}

.cart-delete-options {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.cart-delete-options * {
    padding: .3em .6em;
}


.cart-img {
    max-height: 100%;
    min-height: 100%;
    max-width: 100%;
    min-width: 100%;
    object-fit: cover;
    object-position: center;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.cart-header {
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    align-self: top;
}


.cart-cost {
    grid-row: 2 / 3;
    grid-column: 2 / 3; 
    align-self: end;
}


.cart-incrementer {
    grid-row: 2 / 3 ;
    grid-column: 3 / 4;
    place-self: end stretch;
    justify-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cart-incrementer * { 
    flex: 1;
    text-align: center;
    min-height: 100%;
}

.cart-amount-count {
    min-width: 3em;
    max-width: 3em;
}


/* full page layout */

@media (min-width: 750px) {
    .page-wrapper {
        justify-content: flex-start;
        min-height: calc(100vh - 50px - 2em);
        max-height: calc(100vh - 50px - 2em);
    }
    .nav {
        position: relative;
        justify-content: space-between;
        align-items: center;
    }

    .nav-expander,
    .nav-expander-open {
        display: none;
    }
    .full-page *,
    .full-page {
        display: inherit;
    }

    .title {
        display: flex;
        justify-content: flex-start;
    }

    .icons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .content {
        padding-top: 1.5em;
        height: 70%;
        width: 80%;
        max-width: 1200px;
        max-height: 650px;
    }


    .info-card {
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        padding: 1.5em;
        margin-left: 4em;
    }

    .home-tagline {
        margin-top: 0;
    }

    .info-header {
        align-self: flex-start;
    }

    .info-image {
        width: 100%;
        height: 50%;
        object-fit: cover;
        margin-bottom: 1em;
    }

    /* Beans & Gear Full Page */

    .page-wrapper-coffee .content {
        display: flex;
        flex-direction: row;
    }

    .category {
        flex-direction: column;
        margin-right: 2em;
    }


    /* grid-template-rows: 50% 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;  */

    .item {
        max-height: 500px;
        margin-bottom: 2em;
    }

    .item-more-info {
        opacity: 0;
        display:none;
    }


    .item-info {
        grid-row: 4 / 5;
        grid-column: 1 / 4;
    }

    .item-info-text {
        padding: 0;
    }

    .item-add-to-cart {
        grid-column: 4 / 5;
    }

    .item-info-background {
        transform: translateY(0); 
    }



    /* Cart Full Page */

    .page-wrapper-cart {
        min-height: 0;
        height: calc(100vh - 50px);
        overflow-y: hidden;
        justify-content: center;
        align-items: flex-start;
    }

    .page-wrapper-cart .content {
        padding: 1em;
        width: auto;
        overflow-x: hidden;
        height: auto;
        min-height: 0;
    }
    
    .cart-submit {
        position: static;
        width: auto;
        justify-content: space-around;
        padding: 1em;
        margin-right: 2em;
        align-self: flex-start;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cart-submit p {
        margin-bottom: 1em;
        font-size: 1.3rem;
        overflow-y: hidden;
        width: 150px;
    }

    .cart-item {
        max-width: 700px;
        max-height: 100px;
        min-height: 100px;
        padding-left: .8em;
        grid-template-rows: minmax(auto, 50%) minmax(auto, 50%) ;
        grid-template-columns: 34%  auto auto;
    }

    .cart-incrementer {
        place-self: end end;
    }

    .cart-incrementer button {
        width: 2.5em;
    }

    .cart-delete {
        right: .5em;
        left: auto;
        top: .5em;
    }

    .cart-delete-dialogue {
        max-width: 300px;
    }

    .cart-delete-options {
        margin-top: 1em;
    }

    

}


/* Styling */

.page-wrapper {
    background-position: top left;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-expander-open ~ .page-wrapper {
    filter: blur(5px);
}

.page-wrapper-home {
    background: url(./images/splash_background.JPG);
    background-color:rgba(0, 0, 0, .4);
}

.home-tagline {
    position: relative;
}


.home-tagline::before,
.home-tagline::after {
    content: "";
    height: 4px;
    width: 2rem;
    background:rgba(255, 255, 255, .8);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.link__highlight {
    background: var(--light-grad);
}

.home-tagline::before {
    
    left: 15px;
}

.home-tagline::after {
    right: 15px;
}

.nav {
    background: var(--main-color);
}

.menu-item {
    border-right: 2px solid rgba(255, 255, 255, .4);
}


.info-card {
    background-color: var(--main-color);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(255, 255, 255, .8);
}

.active,
.link:hover {
    box-shadow: 0 5px 0 white;
}

.more-info {
    border: none;
}

.menu-item:nth-last-of-type(3) {
    border: none;
    padding-right: 0;
}

.menu-item:nth-last-of-type(2) {
    border: none;
}



/* Coffee Page Styling */

.page-wrapper-coffee {
    background: url(./images/coffee-background.jpg);
    background-color: rgba(0, 0, 0, .4);
    background-blend-mode: overlay;
    background-position: center;
}

.item-info-background {
    background: linear-gradient(0deg, black, rgba(0, 0, 0, 0) 90%);
}

.item-more-info,
.item-add-to-cart {
    border-radius: 0;
    border: none;
    background-color: var(--dark-grad);
    padding: .3em .5em;
    display: inline-block;
}

.item-add-to-cart {
    background: var(--light-grad);
}

.item-info-background {
    background: none;
    padding: 0;
}

/* Cart Styling */
.page-wrapper-cart {
    background-image: url(images/cart-background.jpg);
}

.cart-submit {
    background: var(--main-color);
    color: white;
}

.cart-delete {
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, .7));
}

.cart-delete-dialogue {
    background: var(--main-color);
    padding: .5em;
}

.cart-delete-options * {
    background: rgba(255, 255, 255, .3);
}

.cart-item {
    background: var(--light-grad);
    width: calc(100vw - 1.4em);
    margin-bottom: 1em;
}

.cart-incrementer {
    background-color: rgba(255, 255, 255, .9);
}

.cart-incrementer * {
    border: 0;
    border-right: 1px solid var(--light-grad); 
    color: var(--main-color);
}

.cart-amount-count {
    cursor: default;
}

.cart-decrease:hover,
.cart-decrease:focus,
.cart-increase:hover,
.cart-increase:focus {
    cursor: pointer;
    background-color: #e2e2e2;
}

.cart-decrease:active,
.cart-increase:active {
    background-color: #d8d6d6;
}




/* Styling media queries */

@media (min-width: 750px) {
    .menu-item:nth-last-of-type(3) {
        border-right: 2px solid rgba(255, 255, 255, .4);
        padding-right: 0;
    }
    
    .menu-item:nth-last-of-type(2) {
        border: none;
    }

    /* Coffee */
    .category::-webkit-scrollbar {
        background-color: rgba(0, 0, 0, .6);
    }


    .category::-webkit-scrollbar-thumb {
        background-color: var(--main-color);
    }

    .category {
        scrollbar-color: var(--main-color) rgba(0, 0, 0, .6);
    }

    /* Cart */
    .page-wrapper-cart .content {
        background: var(--main-color);
    }

}
/* Utils */

.remove-border {
    border: none;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.button-animation {
    transition: transform .06s ease-in;
}

.button-animation:hover,
.button-animation:focus {
    transform: scale(1.06);
}

.button-animation:active {
    transform: scale(.99);
}
