:root {
    --main-color: #3E4543;
    --accent-color: #443F44;
    --light-grad: #666B67;
    --dark-grad: #374948;
    font-size: 20px;
}

body, 
html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100%;
}

/* Typography */

body,
html {
    font-family: "Poppins", sans-serif;
    color: white;
}

.home-tagline {
    text-align: center;
    font-size: 1.3rem;
}

.menu-item {
    list-style-type: none;
    text-align: center;
}

.menu-item:last-of-type {
    border: none;
}


.link {
    text-decoration: none;
    color: white;
    margin: 0;
}


/* Layout */

.home-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

.logo-img {
    display: none;
}

.home-tagline {
    padding: 0 3rem;
    margin-top: 3rem;
}

.home-mobile-img {
    width: 75%;
    max-width: 300px;
    margin-bottom: 2em;
}
.mobile-footer {
    background: var(--main-color);
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    position: absolute;
    align-items: center;
    justify-content: center;
    bottom: 0;
    margin: 0;
    padding: 1em;
    box-sizing: border-box;
}

.menu-item {
    border-right: 2px solid rgba(255, 255, 255, .4);
    height: 50px;
    margin: 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 750px) {
    .mobile-footer {
        position: relative;
    }
}
/* Other */

.home-page-wrapper {
    background: url(./images/splash_background.JPG);
    background-color:rgba(0, 0, 0, .4);
    background-position: top left;
    background-blend-mode: overlay;
}

.home-tagline {
    position: relative;
}


.home-tagline::before,
.home-tagline::after {
    content: "";
    height: 4px;
    width: 2rem;
    background:rgba(255, 255, 255, .8);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

.home-tagline::before {
    
    left: 15px;
}

.home-tagline::after {
    right: 15px;
}

