:root {
    --main-color: #3E4543;
    --accent-color: #443F44;
    --light-grad: #666B67;
    --dark-grad: #374948;
    font-size: 20px;
}

body, 
html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Typogrophy */
 
html,
body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    
}

.nav {
    list-style-type: none;
    margin: 0;
}

.nav li {
    position: relative;
    margin-bottom: 2em;
    text-align: center;
    
    border-radius: 1em;
    padding: .5em 1em;
    box-sizing: border-box;
}

.nav a {
    text-align: center;
    text-decoration: none;
    color: white;
}

.nav li:hover {
    /* text-shadow: 1px 1px white; */
    /* transform: scale(1.1); */
    box-shadow: -3px -3px 5px rgba(255, 255, 255, .5),
                /* inset 2px 2px 2px white, */
                5px 5px 8px rgba(0, 0, 0, .5);

}

.nav li:nth-last-of-type {
    margin-bottom: 0;
}

.address {
    text-align: center;
    font-size: .7em;
}

/* Layout */

body {
    height: 100vh;
    width: 100vw;
}

.home-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-img {
    display: none;
}

.home-mobile-img {
    width: 80%;
    margin-top: 2em;
}

.home-header {
    display: none;
    padding: 1em;
    align-items: center;
    flex-direction: column;
}

.card {
    margin-bottom: 4em;
    margin-top: 3em;
    width: 70%;
    max-width: 350px;

}

.home-nav {
    padding: 2em;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

@media (min-width: 900px) {

    .home-mobile-img-container {
        display: none;
    }

    .home-page-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .home-header {
        width: 20%;
        min-width: 300px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        box-sizing: border-box;
    }

    .logo-img {
        display: block;
        width: 95%;
    }
    
    .card {
        margin: 1em;
        min-width: 250px;
        padding: 1em;
    }


}

/* Other */
.home-page-wrapper {
    background-image: url(./images/splash_background.JPG);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: 100vw;
    height: 100vh;
    
}

.other-page-wrapper {
    background: linear-gradient(179.97deg, var(--light-grad) 0.03%, var(--dark-grad) 90.31%);;

}

.home-header {
    background: linear-gradient(179.97deg, var(--light-grad) 0.03%, var(--dark-grad) 90.31%);;
    
}

.card {
    background: var(--main-color);
    border-radius: 1em;
}